<div class="col-md-3">
	<h2>User info</h2>

	<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "142_refileDownloadImage.jpg", :size=>"80x80"  %>

			<table class="table">
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</table>
			<div class="row">
				<%= link_to '', edit_user_path(user), class: "btn btn-default glyphicon glyphicon-wrench col-md-12" %>
			</div>
			<div class="row">
				<h2>New book</h2>
				<%= form_for(book) do |f| %>

				<label>Title</label><br>
				<%= f.text_field :title, class:'col-md-12' %><br>

				<label>Opinion</label><br>
				<%= f.text_area :body, class:'col-md-12' %><br>

				<%= f.submit class:'col-md-12 btn btn-primary' %>
				<% end %>
			</div>
		</div> 
	