<div class="container">
	<h2>Log in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	     <%= devise_error_messages! %>
	         <div><%= f.label :name %><br />
	             <%= f.text_field :name %></div>

	         <div><%= f.label :password %><br />
	             <%= f.password_field :password %></div>

	         <div><%= f.label :password_confirmation %><br />
	             <%= f.password_field :password_confirmation %></div>

	         <div><%= f.submit "Login",class: "btn btn-primary" %></div>
	    <% end %>

	<%= render "devise/shared/links" %>
</div>